# Directories
/out/
bin/
dist/
deploy/
.github/
.vscode/

# VCS / IDE
.git
.gitignore
.vscode/
.idea

# OS junk
.DS_Store

# Local secrets & configs
config.yaml
.env
docker-compose*.yml

# Test files & artifacts
**/*_test.go
.coverage

# Documentation
*.md