bot:
  token: "BOT_TOKEN"
  mode: "polling"
  port: 9000
  url: "http://localhost:9000"
  admin_ids:
    - 12345689

log:
  level: "info" # debug, info, warn, error


admin:
  port: 9090

database:
  url: "postgres://postgres:postgres@127.0.0.1:5432/subscription_test?sslmode=disable"

redis:
  url: "localhost:6379"
  password: ""
  db: 1
  ttl: "1h"

ai:
  openai_key: "sk-..."
  gemini_key: ""
  gemini_url: "https://generativelanguage.googleapis.com"
  default_model: "gpt-4"

payment:
  zarinpal:
    merchant_id: "YOUR-MERCHANT-ID"
    callback_url: "https://your-domain.tld/payment/callback/zp"
    sandbox: true


scheduler:
  expiry_check_cron: "0 0 * * *"
